
   @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
   body {
       margin: 0;
       background: #222;
       font-weight: 800;
   }
   
   
   .container {
       width: 80%;
       margin: 0 auto;
   }
   
   header {
     background: #55d6aa;
   }
   
   header::after {
     content: '';
     display: table;
     clear: both;
   }
   
   .logo {
     float: left;
     padding: 10px 0;
   }
   
   nav {
       float:left;
   }
   
   nav ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }
   
   nav li {
     display: inline-block;
     margin-left: 30px;
     padding-top: 23px;
   
     position: relative;
   }
   
   nav a {
     color: #444;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
   }
   
   nav a:hover {
     color: #000;
   }
   
   nav a::before {
     content: '';
     display: block;
     height: 5px;
     background-color: #444;
   
     position: absolute;
     top: 0;
     width: 0%;
   
     transition: all ease-in-out 250ms;
   }
   
   nav a:hover::before {
     width: 100%;
   }
   
     .container input[type=text] {
       padding: 6px;
       font-size: 17px;
       border: none;
     }
   
     .container .search-container button {
       float: right;
       padding: 6px 10px;
       background: #ddd;
       font-size: 17px;
       border: none;
       cursor: pointer;
     }
   
     .dropdown .dropbtn {
       font-size: 17px;  
       border: none;
       outline: none;
       color: #444;
       padding: 14px 16px;
       background-color: inherit;
       font-family: inherit;
       margin: 0;
     }
     
     .navbar a:hover, .dropdown:hover .dropbtn {
       background-color: red;
     }
     
     .dropdown-content {
       display: none;
       position: absolute;
       background-color: #f9f9f9;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
     }
     
     .dropdown-content a {
       float: none;
       color: black;
       padding-top: 16px;
       text-decoration: none;
       text-transform: uppercase;
       display: block;
       text-align: left;
     }
     
     .dropdown-content a:hover {
       background-color: #ddd;
     }
     .dropdown-content a:hover:before { 
       width: 50%;
     }
     
     .dropdown:hover .dropdown-content {
       display: block;
     }
   
   
   
   body{
       background-color:white;
       margin: 0;
     }
   
     .parent {
       display: flex;
     }
     
     .b{
       display: inline-block;
       width: 100px;
       height: 100px;
       padding: 5px;
       margin-left:150px;
       border: 1px solid blue;    
       background-color: yellow; 
     }
     
     .WhiteBox{
       border-top:#3a3834 20px solid;
       border-bottom:#3a3834 35px solid ;
       background-color:white;
       padding-bottom: 20px;
       margin:auto;
       max-height: auto;
       max-width: 100%;
       display: block
       
     }
   
     div.item {
       vertical-align: top;
       display: inline-block;
       width: 120px;
       margin-left:400px;
   }
   div.item2 {
     vertical-align: top;
     display: inline-block;
     width: 120px;
     margin-left:500px;
   }
   
   div.Electronics {
     vertical-align: top;
     display: inline-block;
     width: 120px;
     margin-left:100px;
   }
   
   div.HouseHold {
     vertical-align: top;
     display: inline-block;
     width: 120px;
     margin-left:100px;
   }
   
   div.Furniture {
     vertical-align: top;
     display: inline-block;
     width: 120px;
     margin-left:100px;
   }
   
   
   img {
       width: 250px;
       height: 250px;
       margin-top: 20px;
       background-color: grey;
   }
   
   input[type='image'] {
     height:150px;
     width: 150px;
   }
   
   .caption {
       display: block;
   }
   
   h1 {
     display: flex;
     flex-direction: row;
   }
   h1:before, h1:after{
     content: "";
     flex: 1 1;
     border-bottom: 1px solid;
     margin: auto;
     width : "40%";
   }
   h1:before {
     margin-right: 10px
   }
   h1:after {
     margin-left: 10px
   }
   
   h2{
     text-align: left;
     margin-left: 20px;
     margin-top: 20px;
     font-family:Verdana;
     font-size:27px;
     font-weight:600;
   }
   
   .GreyBox{
     background-color:#e9eff1;
     border-radius: 5px;
     padding: 13px;
     border: 1px solid #cbcdce;
     margin: auto;
     max-width: 1800px;
     margin-left: 20px;
     position:relative;
     display: block;
     margin-top: 30px;
     height: auto;
     overflow: auto;
   }
  
   .RowOne{
    background-color: #dddddd;
   }

   #Table, th, td{
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #bfbebe;
    margin: 15px;
  }
  #recipeTable{
    border-collapse: collapse;

  }
  
  .TableFormat{
    width:auto;
    border-collapse: collapse;
    border: 2px solid #bfbebe;
    text-align: left;
  }
  
  .Textbox{
    border: 1.5px solid #d7dadb;
    width:85px;
    height:30px;
    margin-top: 5px;
  }
  
  .RowOne{
    background-color: #dddddd;
  }

  .btn{
    width:90px;
    background-color:#b81013;
    color:#f8fafe;
    border-radius:5px;
    padding:5px;
    margin-right:10px;
    border:none;
    pointer-events:visiblePainted;
    margin-top: 10px;
    height: 30px;
    float:right;
  }
  
  .btn:hover {
    background-color: #af4253;
  }

  .btnDelete{
    width:90px;
    background-color:#b81013;
    color:#f8fafe;
    border-radius:5px;
    padding:5px;
    float:none;
    border:none;
    pointer-events:visiblePainted;
  }

  .btnBUY{
    width:90px;
    background-color:#27c834;
    color:#f8fafe;
    border-radius:5px;
    padding:5px;

    border:none;
    pointer-events:visiblePainted;
  }

  
   */
   @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-weight: 800;
}


.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
    float:left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

  .container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
  }

  .container .search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: #444;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding-top: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown-content a:hover:before { 
    width: 50%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



body{
    background-color:white;
    margin: 0;
  }

  .parent {
    display: flex;
  }
  
  .b{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-left:150px;
    border: 1px solid blue;    
    background-color: yellow; 
  }
  
  .WhiteBox{
    border-top:#3a3834 20px solid;
    border-bottom:#3a3834 35px solid ;
    background-color:white;
    padding-bottom: 20px;
    margin:auto;
    max-height: auto;
    max-width: 100%;
    display: block
    
  }

  div.item {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    margin-left:400px;
}
div.item2 {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  margin-left:500px;
}

div.Electronics {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  margin-left:100px;
}

div.HouseHold {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  margin-left:100px;
}

div.Furniture {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  margin-left:100px;
}


img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    background-color: grey;
}

input[type='image'] {
  height:150px;
  width: 150px;
}

.caption {
    display: block;
}

h1 {
  display: flex;
  flex-direction: row;
}
h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  width : "40%";
}
h1:before {
  margin-right: 10px
}
h1:after {
  margin-left: 10px
}

h2{
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  font-family:Verdana;
  font-size:27px;
  font-weight:600;
}

.GreyBox{
  background-color:#e9eff1;
  border-radius: 5px;
  padding: 13px;
  border: 1px solid #cbcdce;
  margin: auto;
  max-width: 1800px;
  margin-left: 20px;
  position:relative;
  display: block;
  margin-top: 30px;
  height: auto;
  overflow: auto;
}
  #name0, #name1, #name2{
font-size: 30px;
  }

th{
  font-size: 35px;
  padding: 20px;
}
td{
  font-size: 25px;
  padding: 20px;
  text-align: center;
}
#checkboxHeader{
  font-size: 25px;
}
.recipeTable{
  border-color: #e9eff1;
}