<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/about.css"/>
    <title>About us</title>
</head>

<body>
    <div class="WhiteBox">

        <table id="links" class="Links">
            <thead>
                <tr>
                    <th><a href="/Home">Home</a></th> <!-- may have different home page-->
                    <th><a href="/About">About</a></th>
                    <th><a href="/ShoppingList">Shopping List</a></th>
                    <th><a href="/Login">Login</a></th>
                    <th><a href="/Search">Search</a></th>
                </tr>
            </thead>
        </table>

        <h2>Find-all</h2>
        <div class="GreyBox">
            <h3>What do we do?</h3>
            <p>Find-all is a web application that allows users to browse multiple stores inventory to find and purchase products at the desired price point. Additional features available for customers include a covid-19 hotspot detector and a transit route finder to their desired store. Find-all aims to provide a one stop online shopping experience for its users.</p>
        
        </div>
    </div>
</body>


</html>