<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/login.css">
  <title>Login</title>
</head>
<form action="/Login" method="post">
    <div class="container">
        <div class="incorrectNotice">
            You have entered an incorrect username or password. Please try again.
        </div><br>
        <label for="username"><b>Username</b></label>

        <!--<input type="text" th:field=*{username} placeholder="Enter Username" required> --->

        <input type ="text" placeholder="Enter username" name = "username" required>
        <label for="password"><b>Password</b></label>

        <!--<input type="password" th:field=*{password} placeholder="Enter Password" required> --->

        <input type ="password" placeholder="Enter password" name = "password" required>

        <button type="submit">Login</button>
    </div>

    <div class="container">
        <button type="button" class="cancel" onclick="location.href='/Home'">Cancel</button>
        <span class="create"><a th:href="@{/Create}">Create Account</a></span>
    </div>
</form>
</html>

<!--<input type ="text" placeholder="Enter username" name = "username" required>-->