<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/stylesheets/login.css">
  <title>Login</title>
</head>
<form th:action="@{/Login}" method="post" th:object="${account}">
    <div class="container">
        <h2 style="background-color: red; color: rgb(15, 15, 139);">Access Denied to Contact Seller. Please Login</h2>
        <label for="username"><b>Username</b></label>

        <!--<input type="text" th:field=*{username} placeholder="Enter Username" required> --->

        <input type ="text" placeholder="Enter username" th:field =*{username} name = "username" required>
        <label for="password"><b>Password</b></label>

        <!--<input type="password" th:field=*{password} placeholder="Enter Password" required> --->

        <input type ="password" placeholder="Enter password" th:field=*{password} name = "password" required>

        <button type="submit">Login</button>
    </div>

    <div class="container" th:each="UserID : ${UserID}">
        <button type="button" class="cancel"   th:onclick="'window.location.href=\'/Home/' + ${UserID.getUserID()} + '\''">Cancel</button>
        <span class="create"><a th:href="@{/Create}">Create Account</a></span>
    </div>
</form>
</html>

<!--<input type ="text" placeholder="Enter username" name = "username" required>-->