<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/homeSeller.css" >
    <title>Home: Seller</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
          <nav>
            <ul>
              <li><a href="./Home">Home</a></li>
              <li><a href="./About">About</a></li>
              <li><a href="./ShoppingList">Shoppinglist</a></li>
              <li><a href="./Login">Login</a></li>
              <li><a href="./Search">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">
        <h2>Welcome to the Seller Landing Page</h2>
        <div class="GreyBox">
            <h3>What you can do:</h3>
            <!--
            <list id="definition">
                <ul th:each="record : ${ret}">
                    <li><a href="#" th:href="@{/MyPage/{uid}(uid=${record.getID()})}" th:utext=" 'View '+ ${record.getUsername()} + ' Page'"></a></li>
                    <li><a href="#" th:href="@{/MyPage/Add/{uid}(uid=${record.getID()})}">Sell an item</a></li>
                    <li><a href="/Msg">Check customer messages</a></li> 
                </ul>
            </list> -->
             
            <h1>Adding new item in Database</h1>
            <form method="post" th:action="@{/afterSubmitNewItem}" th:object="${Item}" enctype="multipart/form-data">
                <input type="text" th:field=*{Name} placeholder="Name"><br>
                <select th:field = *{Category}>
                    <option value="electronics" selected>Electronics</option>
                    <option value="food">Food</option>
                    <option value="kitchen">Kitchen</option>
                </select><br>
                <textarea name="description" cols="30" rows="10" placeholder="Enter the description for the item" th:field = *{Description}></textarea>
                <input type="number" th:field=*{Price} step="any" placeholder="$00.00"><br>
                <input type="file" name="file" id="file"  accept= "image/*"><br>
                <input type="number" th:field=*{Stock} placeholder="2"><br>
                <br>
                
                <input type="submit" value="Add New Item">
            </form>
        
        </div>

</body>


</html>