<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="./stylesheets/homeSeller.css">
    <title>Home: Seller</title>
</head>

<body>
    <div class="WhiteBox">

        <table id="links" class="Links">
            <thead>
                <tr>
                    <th><a href="/Home.html">Home</a></th>
                    <th><a href="/About">About</a></th>
                    <th><a href="/shoppingList">Shopping List</a></th>
                    <th><a href="/Login">Login</a></th>
                    <th><a href="/Browse">Browse</a></th>
                </tr>
            </thead>
        </table>

        <h2>Welcome to the Seller Landing Page</h2>
        <div class="GreyBox">
            <h3>What you can do:</h3>
            <list id="definition">
                <ul>
                    <li><a href="/page.html">View Seller Home Page</a></li>
                    <li><a href="/page/add.html">Sell an item</a></li>
                    <li><a href="/msg.html">Check customer messages</a></li>
                </ul>
            </list>
        
        </div>
        <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Home Page</title>
</head>
<body> -->
    <h1>Adding new item in Database</h1>
    <form action="#" method="post" th:action="@{/afterSubmitNewItem}" th:object="${item}">
        <input type="text" th:field=*{name} placeholder="Name"><br>
        <select th:field = *{category}>
            <option value="electronics" selected>Electronics</option>
            <option value="food">Food</option>
            <option value="kitchen">Kitchen</option>
        </select><br>
        <textarea name="description" cols="30" rows="10" placeholder="Enter the description for the item" th:field = *{description}></textarea>
        <br>
        <input type="submit" value="Add New Item">
    </form>
<!-- </body>
</html> -->


    </div>
</body>


</html>