<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/homeSeller.css" >
    <title>Home: Seller</title>
</head>

<body>

    <header>
        <div class="container">
          <h1 class="logo"></h1>
          <nav>
            <ul>
              <li><a href="./Home">Home</a></li>
              <li><a href="./About">About</a></li>
              <li><a href="./ShoppingList">Shoppinglist</a></li>
              <li><a href="./Login">Login</a></li>
              <li><a href="./Search">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">
        <h2>Welcome to the Seller Landing Page</h2>
        <div class="GreyBox">
        
            <h3>All Your Listed Items</h3>
            <div>
              <table class="TableFormat" id="Table">
                <thead>
                    <tr class="RowOne">
                        <th>Name</th>
                        <th>Category</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        <tr th:each="record : ${records}" >
                            <td><a href="#" th:href="@{/myItem/{uid}(uid=${record.getID()})}" th:utext="${record.getName()}"></a></td>
                            <td th:utext="${record.getCategory()}"></td>
                            <td th:utext="${record.getStock()}"></td>
                        </tr>
                    </tbody>
                </tbody>
              </table>
            </div>
            <h3>Add an Item For Sale</h3> 
            <div class="listingBox">
          
              <form method="post" th:action="@{/afterSubmitNewItem}" th:object="${Item}" enctype="multipart/form-data">
                
                    <input type="text" th:field=*{Name} placeholder="Product Name" id="gettingName" class="sameSize" onkeyup="nameUpdate()"><br><br>
                    <select  th:field = *{Category} class="categoryBox">
                        <option value=""  selected hidden style="color: gray;">Choose Category..</option>
                        <option value="electronics" >Electronics</option>
                        <option value="food">Food</option>
                        <option value="kitchen">Kitchen</option>
                    </select><br><br>

                    <textarea name="description" onkeyup="descriptionUpdate()" cols="30" rows="10" id="gettingDescription" style="width: 300px; height: 200px; font-size: 20px;" placeholder="Enter a Description of the Item" th:field = *{Description}></textarea><br><br>
                    

                    <input type="number" th:field=*{Price} onkeyup="priceUpdate()" id="gettingPrice" step="any" value="Price per Unit" class="sameSize"><br><br>
                    <input type="number" th:field=*{Stock} placeholder="Number of Units in Stock" class="sameSize"><br>
                    <p class="listingHeading">Upload Image of Item:</p>
                    <input type="file" name="file" id="file"  accept= "image/*" class="sameSize"><br>
                    <br>
                    
                    <input type="submit" value="Add New Item" class="sameSize">
               
              </form>
            </div>
            <div class="nextToListingBox" >
              <p style="font-size: 30px;">Preview</p>
              <div class="pictureDiv">
                <h1>THIS IS THE PLACEHOLDER FOR PICTURE</h1>
              </div>
              <br>
              <div class="liveUpdate">
                THis is the liveupdate section
                <h3 id="titleplaceholder" class="listingsize" >Title</h3>
                <h3 id="priceplaceholder" class="listingsize">Price</h3>
                
                <h3 class="listingsize">Details:</h3>
                <p id="descriptionplaceholder" class="descriptionsize"></p>

              </div>

          </div>

        </div>
      </div>
<script type="text/javascript" src="./homeSeller.js"></script>
</body>


</html>