
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bookshop Website</title>
</head>
<body>
    <div style="text-align: center" th:each="record : ${ret}">
        <h1>Current User</h1>
        <h3 th:utext="${record.getUsername()}"></h3>
        <h4>Are you sure you want to logout?</h4>
        <button onclick="goBack()">Go Back</button>
        <input type="button" class="btn" value="Logout" th:onclick="'window.location.href = \'' + @{/Home/0} + '\''">
        
    </div> 
</body>
<script>
    function goBack() {
      window.history.back();
    }
    </script>


</html>