<!DOCTYPE html>
<html lan="en"> <!-- renamed to Item page, used to be myPage -->

<head>
    <link rel="stylesheet" href="../stylesheets/myPage.css">
    <title>Your Page</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
          <nav>
            <ul>
              <li><a href="../Home">Home</a></li>
              <li><a href="../About">About</a></li>
              <li><a href="../ShoppingList">Shoppinglist</a></li>
              <li><a href="../Login">Login</a></li>
              <li><a href="../Search">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">

        <h2>Item Profile Page</h2>
        <div class="GreyBox">

            <div>
                <!-- add your image here -->
            </div>


            <table th:each="record : ${retItem}" class ="TableFormat">
                
                <tr>
                    <th>Name</th>
                    <td th:utext="${record.getName()}" id="nameIn"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td th:utext="${record.getDescription()}" id="descriptionIn"></td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td th:utext="${record.getCategory()}" id="categoryIn"></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td th:utext="${record.getPrice()}" id="priceIn"></td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td th:utext="${record.getStock()}" id="stockIn"></td>
                </tr>
            </table>

            <div id = "outer" th:each="record : ${retItem}">

                <input type="button" class="btn" value="Back" onclick="location.href='/HomeSeller'">
                
                <form action="#" method="post" th:each="record : ${retItem}" th:action="@{/DELETEmi/{id}(id=${record.getID()})}">
                    <input type="submit" class="btnDelete" value="DELETE"></td>
                </form>
                <iframe name="votar" style="display:none;"></iframe>
                <form action="#" method="post" th:each="id : ${retUserId}" th:action="@{/AddToShoppingListMyItem/{pid}/{uid}(uid=${record.getID()},pid=${id.getUserID()})}" target = "votar"> <!-- not done working adding to shopping list-->
                    <input type="submit" class="btnAdd" value="Add to Shopping List"></td>
                </form>
            </div>

            <h2>Update Item Information</h2>

            <form action="#" method="post" th:each="record : ${retItem}" th:action="@{/UPDATEmi/{id}(id=${record.getID()})}" th:object="${Item}" target = "hiddenFrame">

                <div>Place Old Image here Placeholder</div><br><br> <!-- fix needed -->

                <input type="text" th:value="${record.getName()}" name="Name" id ="Name"><br><br>

                <textarea type="text" th:text="${record.getDescription()}"  name = "Description" id = "Description" cols="30" rows="10" style="width: 300px; height: 200px; font-size: 20px;"></textarea> <br><br>

                <select name ="Category" id ="Cataegory">
                    <option value=""  selected hidden style="color: gray;" th:text="${record.getCategory()}">Choose Category..</option>
                    <option value="electronics" >Electronics</option>
                    <option value="food">Food</option>
                    <option value="kitchen">Kitchen</option>
                </select><br><br>

                <input type="number" th:value="${record.getPrice()}" name="Price" id = "Price" step="any"> <br><br>

                <input type="number" th:value="${record.getStock()}" name="Stock" id = "Stock" step="1"> <br>

                <p class="listingHeading">Upload Image of Item:</p>
                <input type="file" name="file" id="file"  accept= "image/*" class="sameSize"><br><br> <!-- not sure how image upload works-->

                <input type="submit" class="btnUpdate" value="UPDATE"></td>
            </form>
        
        </div>
    </div>
</body>


</html>