<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/myPage.css">
    <title>Your Page</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
          <nav>
            <ul>
              <li><a href="./Home">Home</a></li>
              <li><a href="./About">About</a></li>
              <li><a href="./ShoppingList">Shoppinglist</a></li>
              <li><a href="./Login">Login</a></li>
              <li><a href="./Search">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">

        <h2>Welcome to your Page</h2>
        <div class="GreyBox">
            <h3>What you are selling:</h3>
            <table class="TableFormat" id="Table">
                <thead>
                    <tr class="RowOne">
                        <th>Name</th>
                        <th></th>
                        <th>Message</th>
                        <th>Width (cm)</th>
                        <th>Height (cm)</th>
                        <th>Delete Row</th>
                    </tr>
                </thead>

                <tbody>
                    <tbody>
                        <tr th:each="record : ${dblist}" >
                            <td th:utext="${record.getName()}"></td>
                            <td th:utext="${record.getDescription()}"></td>
                            <td th:utext="${record.getPrice()}"></td>
                            <td th:utext="${record.getStock()}"></td>
                            <form action="#" method="post" th:action="@{/DELETEmp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnDelete" value="DELETE"></td>
                            </form>
                            <form action="#" method="post" th:action="@{/UPDATEmp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnUpdate" value="UPDATE"></td>
                            </form> <!-- impliment update-->
                        </tr>
                    </tbody>
                </tbody>
            </table>
        
        </div>
    </div>
</body>


</html>