<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 3 Recipe</title>
</head>
<body>
    <h3 id="recipeheader" >Top 3 Recipe Recommendation With Your Current Grocery List(Click on image to see full recipe)</h3>
    <table>
        <tr>
            <td> <a href="#" id="link0"><img src="" id="pic0" alt="first image"></a></td>
            <td id="name0">recipe1</td>
        </tr>

        <tr>
            <td> <a href="#" id="link1"><img src="" id="pic1" alt="first image"></a></td>
            <td id="name1">recipe2</td>
        </tr>

        <tr>
            <td> <a href="#" id="link2"><img src="" id="pic2" alt="first image"></a></td>
            <td id="name2">recipe3</td>
        </tr>
    </table>
    <script src="/recipe.js"></script>

</body>
</html>