<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/search.css">
    <title>Search</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo" th:each="UserID : ${UserID}"></h1>
          <nav >
            <ul >
              <li><a th:href="@{/Home/{uid}(uid=${UserID.getUserID()})}" >Home</a></li>
              <li><a th:href="@{/About/{uid}(uid=${UserID.getUserID()})}">About</a></li>
              <li><a th:href="@{/ShoppingList/{uid}(uid=${UserID.getUserID()})}">Shoppinglist</a></li>
              <li><a th:href="@{/Login/{uid}(uid=${UserID.getUserID()})}">Login</a></li>
              <li><a th:href="@{/Search/{uid}(uid=${UserID.getUserID()})}">Search</a></li>
                <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="WhiteBox">
        <div class="GreyBox" th:each="userID: ${UserID}" >
            <table id="myTable" class="myTable">
                <tr>
                    <form class="example" method="post" th:action="@{/Searchitem/{id}(id=${userID.getUserID()})}" th:object="${item}">
                        <input type="text" th:field=*{name} placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i>Search</button>
                        <select th:field = *{category} class="categoryBox">
                            <option value=""  selected hidden style="color: gray;">Choose Category..</option>
                            <option value="ItemName" >ItemName</option>
                            <option value="Electronics" >Electronics</option>
                            <option value="Food">Food</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Miscellaneous">Miscellaneous</option>
                        </select>
                    </form>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Description</td>
            </tr>
            <tr th:each="product : ${product}">
                <td><a th:href="@{/MyItem/{pid}/{uid}(uid=${product.getID()},pid=${userID.getUserID()})}" th:text="${product.getName()}"></a></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getDescription()}"></td>
            </tr>
        </table>
        </div>
    </div>
</body>
</html>