<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/search.css">
    <title>Search</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
          <nav>
            <ul>
                <li><a href="./Home">Home</a></li>
                <li><a href="./About">About</a></li>
                <li><a href="./ShoppingList">Shoppinglist</a></li>
                <li><a href="./Login">Login</a></li>
                <li><a href="./Search">Search</a></li>
                <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">
        <div class="GreyBox">
            <table id="myTable" class="myTable">
                <tr th:each="userID: ${userID}">

                    <form class="example" method="post" th:action="@{/Searchitem/{id}(id=${userID.getUserID()})}" th:object="${item}">
                        <input type="text" th:field=*{name} placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i>Search</button>
                    </form>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Description</td>
            </tr>
            <tr th:each="product : ${product}">
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <!--
                <form class="AddShoppingList" method="post" th:action="@{/AddShoppingList}" th:object="${ID}">
                    <input type="hidden"  th:value="${product.getID()}" id="clientName" name="ID" />
                    <button type="submit"><i class="fa fa-search"></i>add into shopping list</button>
                </form>
                -->
            </tr>
        </table>
        </div>
    </div>
</body>
</html>