<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/shoppingList.css"/>
    <script type="text/javascript" src="../logout.js"> defer</script>
    <title>Shopping List</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo" th:each="UserID : ${UserID}"></h1>
          <nav>
            <ul>
              <li><a th:href="@{/Home/{uid}(uid=${UserID.getUserID()})}" >Home</a></li>
              <li><a th:href="@{/About/{uid}(uid=${UserID.getUserID()})}">About</a></li>
              <li><a th:href="@{/ShoppingList/{uid}(uid=${UserID.getUserID()})}">Shoppinglist</a></li>
              <li><a id="log" th:href="@{/Login/{uid}(uid=${UserID.getUserID()})}">Login</a></li>
              <li><a th:href="@{/Search/{uid}(uid=${UserID.getUserID()})}">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a th:href="@{/PopularTime/{uid}(uid=${UserID.getUserID()})}">Search Store</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">

        <div class="GreyBox">

                <table class="AddTable" id="Table" >
                    <thead>
                        <tr >
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price ($)</th>
                        </tr>
                    </thead>
                    
                    <tbody >
                        <tr th:each="records : ${records}">
                            
                            <!-- <td><a href="#"  th:each="UserId : ${UserId}" th:href="@{/MyItem/{pid}/{uid}(uid=${records.getID()},pid=${UserId.getUserID()})}" th:utext="${records.getName()}"></a></td> -->
                            <td><a th:each="UserId : ${UserID}" id="gettext" th:href="@{/MyItem/{pid}/{uid}(uid=${records.getID()},pid=${UserId.getUserID()})}" th:utext="${records.getName()}"></a></td>
                            <td th:utext="${records.getCategory()}"></td>
                            <td th:utext="${records.getPrice()}"></td>
                            
                            <form action="#" th:each="UserId : ${UserID}" method="post" th:action="@{/DELETEsp/{pid}/{uid}(uid=${records.getID()},pid=${UserId.getUserID()})}">
                                <td><input type="submit" class="btnDelete" value="DELETE"></td>
                            </form>                     
                        </tr>
                    </tbody>
            
                       
                </table>
<br>
                <h3 id="recipeheader" >Top 3 Recipe Recommendation With Your Current Grocery List</h3>
                <table>
                    <tr>
                        <td> <a href="#" id="link0"><img src="" id="pic0" alt="first image"></a></td>
                        <td id="name0">recipe1</td>
                    </tr>

                    <tr>
                        <td> <a href="#" id="link1"><img src="" id="pic1" alt="first image"></a></td>
                        <td id="name1">recipe2</td>
                    </tr>

                    <tr>
                        <td> <a href="#" id="link2"><img src="" id="pic2" alt="first image"></a></td>
                        <td id="name2">recipe3</td>
                    </tr>
                </table>

        </div>
    </div>
    <script src="/recipe.js"></script>

</body>
</html>