<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="./stylesheets/shoppingList.css"/>
    <title>Shopping List</title>
</head>

<body>
    <div class="WhiteBox">

        <table id="links" class="Links">
            <thead>
                <tr>
                    <th><a href="/Home">Home</a></th>
                    <th><a href="/About">About</a></th>
                    <th><a href="/ShoppingList">Shopping List</a></th>
                    <th><a href="/Login">Login</a></th>
                    <th><a href="/Search">Search</a></th>
                    
                </tr>
            </thead>
        </table>

        <div class="GreyBox">

                <table class="AddTable" id="Table">
                    <thead>
                        <tr >
                            <th>Item</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="record : ${records}" >
                            <!-- 
                            <td><a href="#" th:href="@{/profile/{uid}(uid=${record.getID()})}" th:utext="${record.getName()}"></a></td>
                            <td th:utext="${record.getName()}" th:style="'background-color:' + ${record.getColour()}"></td>
                            <td th:utext="${record.getDescription()}"></td>
                            <td th:utext="${record.getPrice()}"></td>  -->

                            <td> test </td>
                            <td> image + This is the first test </td>
                            <td> $420 </td>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnDelete" value="DELETE"></td>
                            </form>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}"> <!-- buy button to implement-->
                                <td><input type="submit" class="btnBUY" value="BUY"></td>
                            </form>
                        </tr>
                        <tr th:each="record : ${records}" >
                            <!-- 
                            <td><a href="#" th:href="@{/profile/{uid}(uid=${record.getID()})}" th:utext="${record.getName()}"></a></td>
                            <td th:utext="${record.getName()}" th:style="'background-color:' + ${record.getColour()}"></td>
                            <td th:utext="${record.getDescription()}"></td>
                            <td th:utext="${record.getPrice()}"></td>  -->

                            <td> test2 </td>
                            <td> This is the first test2 </td>
                            <td> $42022 </td>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnDelete" value="DELETE"></td>
                            </form>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnBUY" value="BUY"></td>
                            </form>
                        </tr>
                    </tbody>
            
                       
                </table>
            
        </div>
    </div>
</body>
</html>