<!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/shoppingList.css"/>
    <title>Shopping List</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo" th:each="UserID : ${UserID}"></h1>
          <nav>
            <ul>
              <li><a th:href="@{/Home/{uid}(uid=1)}" >Home</a></li>
              <li><a href="../About">About</a></li>
              <li><a href="../ShoppingList">Shoppinglist</a></li>
              <li><a href="../Login">Login</a></li>
              <li><a href="../Search">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">

        <div class="GreyBox">

                <table class="AddTable" id="Table">
                    <thead>
                        <tr >
                            <th>Item</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <!--
                        <td> test </td>
                        <td> image + This is the first test </td>
                        <td> $420 </td>-->
                        <tr th:each="record : ${records}" >
                            <td> test </td>
                            <td> image + This is the first test </td>
                            <td> $420 </td>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnDelete" value="DELETE"></td>
                            </form>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}"> <!-- buy button to implement-->
                                <td><input type="submit" class="btnBUY" value="BUY"></td>
                            </form>
                        </tr>
                        <tr th:each="record : ${records}" >
                            <td> test2 </td>
                            <td> This is the first test2 </td>
                            <td> $42022 </td>
                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnDelete" value="DELETE"></td>
                            </form>

                            <form action="#" method="post" th:action="@{/DELETEsp/{id}(id=${record.getID()})}">
                                <td><input type="submit" class="btnBUY" value="BUY"></td>
                            </form>
                        </tr>
                    </tbody>
            
                       
                </table>
            
        </div>
    </div>
</body>
</html>