<!-- <!DOCTYPE html>
<html lan="en">

<head>
    <link rel="stylesheet" href="../stylesheets/update.css">
    <title>Update item</title>
</head>

<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
          <nav>
            <ul>
              <li><a href="./Home">Home</a></li>
              <li><a href="./About">About</a></li>
              <li><a href="./ShoppingList">Shoppinglist</a></li>
              <li><a href="./Login">Login</a></li>
              <li><a href="./Search">Search</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="WhiteBox">

        <h2>Update your item</h2>
        <div class="GreyBox">
            <h3>What you are updating:</h3>
            <table class="TableFormat" id="Table">
                <thead>
                    <tr class="RowOne">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>

                <tbody>
                    <tbody>
                        <tr th:each="record : ${ret}" >
                            <td th:utext="${record.getName()}"></td>
                            <td th:utext="${record.getDescription()}"></td>
                            <td th:utext="${record.getCategory()}"></td>
                            <td th:utext="${record.getPrice()}"></td>
                            <td th:utext="${record.getStock()}"></td>
                        </tr>
                        <tr>
                            <form action="#" method="post" th:action="@{/UpdateSuccess}" id="update">  redirect to new info page
                                <td><input class = "updateTxt" type="text" th:field=*{Name} th:value="${record.getName()}"> </td>
                                <td><textarea class = "textarea" th:field=*{Description} th:value="${record.getDescription()}">
                                    </textarea>
                                </td>
                                <td><select th:field=*{Category} th:value="${record.getCategory()}"> 
                                        <option value="Food">Food</option> 
                                        <option value="Technology">Technology</option>
                                        <option value="Household">Household</option>
                                        <option value="Miscellaneous">Miscellaneous</option>   
                                    </select>
                                </td>
                                <td><input class = "updateTxt" type="number" th:field=*{Price} th:value="${record.getPrice()}"></td>
                                <td><input class = "updateTxt" type="number" th:field=*{Stock} th:value="${record.getStock()}"></td>

                                
                            </form>  
                            
                        </tr>
                    </tbody>
                </tbody>
            </table>
            <input form="update" type="submit" class="btnUpdate" value="UPDATE"></td>
        
        </div>
    </div>
</body>


</html> -->